.email-header {
  height: 100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid white;
}

.header-content input {
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightblue;
  flex-grow: 4;
  background-color: inherit;
  outline: none;
}

.email-head-filters {
  width: 50%;
  height: 70px;
  display: flex;
  gap: 1px;
}

.email-head-filters #isReadSelect {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  text-align: center;
  border: 0px;
  box-shadow: 1px 1px 1px 1px lightblue;
  margin-left: 3px;
  color: rgb(9, 8, 8);
  font-weight: 700;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
}
.email-head-filters .sortBy {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  text-align: center;
  border: 0px;
  box-shadow: 1px 1px 1px 1px lightblue;
  margin-left: 3px;
  color: rgb(9, 8, 8);
  font-weight: 700;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
}

.email-logo {
  font-family: cursive;
  font-size: 1.5rem;
  color: gold;
}

.fa-envelope {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
