.email-header {
  height: 100px;
  max-width: 1280px;
  margin: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  /* margin: auto;
  max-width: 980px; */
  height: 100%;
  align-items: center;
  border-bottom: 1px solid white;
}

.header-content input {
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightblue;
  flex-grow: 4;
  background-color: inherit;
  outline: none;
}

.email-head-filters {
  width: 50%;
  height: 70px;
  display: flex;
}

.email-head-filters #isReadSelect {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  text-align: center;
  border: 0px;
  box-shadow: 1px 1px 1px 1px lightblue;
  margin-left: 3px;
  color: rgb(9, 8, 8);
  font-weight: 700;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
}
