.emails-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.emails-list .email-item {
  background-color: rgb(253, 249, 249);
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  height: 50px;
  transition: 0.3s ease-in-out;
}

.email-item:hover {
  transform: scale(1.1);
}

.email-item .email-start {
  align-items: center;
  gap: 3px;
}

.off {
  color: rgb(41, 38, 38);
}

.on {
  color: gold;
}

.off:hover {
  background-color: rgba(240, 185, 7, 0.706);
}

.email-content p {
  margin: 0px;
}

.email-content {
  display: flex;
}

.email-item .email-content .email-body {
  color: gray;
}

.hover-btns {
  height: 100%;
}

.email-item .hover-btns button {
  background-color: inherit;
  color: black;
  border: 0;
  height: 100%;
  margin: 0px;
  font-size: 18px;
  cursor: pointer;
}

.hover-draft-btns {
  height: 100%;
}
.email-item .hover-draft-btns button {
  background-color: inherit;
  color: black;
  border: 0;
  height: 100%;
  margin: 0px;
  font-size: 18px;
  cursor: pointer;
}
