.app-header {
  height: 150px;
  background-color: rgb(4, 243, 243);
  justify-content: space-between;
}

.page-header-content {
  justify-content: space-between;
  height: 100%;
}

.app-header h1 {
  align-self: center;
  text-align: center;
  font-size: 1.8rem;
  font-family: fantasy;
}

.main-nav {
  align-self: center;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.main-nav a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(8, 8, 17);
  height: 100%;
  /* box-shadow: inset 0px -6px 0 #040a2c; */
}

.main-nav .my-active {
  color: rgb(253, 177, 0);
  border: 0;
}
.header-link-item {
  transition: 0.3s ease-in-out;
}
.header-link-item:hover {
  transform: scale(1.1);
}

.hamburger-btn {
  height: 50px;
  align-self: center;
  background-color: inherit;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  display: none;
}
