.note-edit button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
.color-input {
  display: flex;
  width: 100px;
  height: 100px;
  border: black 1px solid;
  gap: 2px;
}
.color-value {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.closed{
  opacity: 0;
}