.note-filter{
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-filter input {
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightblue;
    background-color: inherit;
    outline: none;
    width: 60%;
  }