.note-edit button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
.color-input {
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3px;
  gap: 2px;
}
.color-value {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.closed{
  opacity: 0;
}