.main-layout {
  max-width: 350px;
  margin: auto;
}

@media (min-width: 450px) {
  .main-layout {
    max-width: 450px;
  }
}

@media (min-width: 720px) {
  .main-layout {
    max-width: 720px;
  }
}

@media (min-width: 920px) {
  .main-layout {
    max-width: 920px;
  }
}

@media (min-width: 1280px) {
  .main-layout {
    max-width: 1280px;
  }
}
